

services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: ${postgres_dbname}
      POSTGRES_USER: ${postgres_user}
      POSTGRES_PASSWORD: ${postgres_password}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build: .
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_USER: ${postgres_user}
      DB_PASSWORD: ${postgres_password}
      DB_NAME: ${postgres_dbname}

volumes:
  postgres_data:
